@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landingPage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.innerLandingPage{
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landingPageHeading h1{
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 4%;
    color: #1B2050;
    font-size: 1.8rem;
}
.landingPageHeading p{
    font-family: 'Poppins';
    font-weight: 300;
    margin-bottom: 5%;
    color: #1B2050;
}
.landingPageBtn button{
    width: 40%;
    height: 60px;
    outline: none;
    border: none;
    background-color: #1B2050;
    color: #fff;
    font-weight: 400;
    font-family: 'Poppins';
    font-size: 0.9rem;
    border-radius: 15px;
    cursor: pointer;
}




.mainFeatures{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBFFF4;
}
.innerFeatures{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featureImage,.featureList{
    width: 50%;
}
.featureImage img{
    width: 100%;
    object-fit: contain;
}
.featureList{
    margin-left: 4%;
}
.featuresHeading h1{
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 4%;
    color: #0B132A;
    font-size: 3rem;
    width: 70%;
}
.featuresHeading p{
    font-family: 'Poppins';
    font-weight: 300;
    margin-bottom: 5%;
    color: #4F5665;
}
.featuresPoints ul{
    list-style: none;
}
.featuresPoints ul li{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}
.featuresPoints ul li div p{
    font-family: 'Poppins';
    color: #4F5665;
}
.rightCheck{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2FAB73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.rightCheck i{
    color: #fff;
    font-size: 12px;
}

.centerImage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCenterImage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerCenterImage img{
    width: 80%;
    object-fit: contain;
}



.ormaCenter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 6%;
    background-color: #FAFAFA;
}

.innerOrmaCenter{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3.8rem 0;
}
.OrmaHeading{
    margin-bottom: 5%;
}
.OrmaHeading h1{
    font-family: 'Poppins';
    font-weight: 300;
    color: #000;
    font-size: 1.8rem;
}
.OrmaHeading h1::after{
    content: "";
    width: 50px;
    height: 2px;
    display: block;
    background-color: #7D7987;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
    border-radius: 999px;
}
.OrmaText p{
    font-family: 'Poppins';
    font-size: 1rem;
    color: #7D7987;
    text-align: center;
}


.mainPlans{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

.innerPlans{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.plansHeading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.plansHeading h1{
    margin-bottom: 1%;
    font-family: 'Poppins';
    color: #0B132A;
    font-weight: 400;
    font-size: 1.8rem;
}
.plansHeading p{
    margin-bottom: 4%;
    font-family: 'Poppins';
    color: #4F5665;
    font-weight: 400;
    font-size: 1.1rem;
}
.plansContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.planCard{
    width: 30%;
    border: 2px solid #DDDDDD;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    border-radius: 10px;
    box-sizing: border-box;
}
.cardDetails{
    margin-top: 20%;
}
.cardImage{
    width: 100%;
    display: grid;
    place-items: center;
}
.cardImage img{
    width: 80%;
}

.planType{
    margin: 1rem 0;
    margin-bottom: 15%;
}
.planType h3{
    font-family: 'Poppins';
    font-weight: 400;
    text-align: center;
}
.cardList ul{
    list-style: none;
}
.cardList ul li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.cardList ul li i{
    margin-right: 10px;
    color: #2FAB73;
}
.cardList ul li p{
    font-family: 'Poppins';
    font-weight: 200;
    color: #4F5665;
    font-size: 14px;
}
.planButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8%;
}
.planButton h4{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1.2rem;
    color: #1B2050;
    margin-bottom: 5%;
}
.planButton button{
    width: 50%;
    height: 40px;
    border-radius: 999px;
    outline: none;
    border: 2px solid #1B2050;
    font-family: 'Poppins';
    font-weight: 400;
    cursor: pointer;
    background: transparent;
}
.thirdCard{
    border: 2px solid #1B2050 !important;
}
.thirdButton button{
    background: #1B2050 !important;
    color: #fff !important;
}



.lowerMainFeature{
    background-color: #E7FCFF;
}
.lowerInnerFeature{
    flex-direction: row-reverse;
    align-items: center !important;
    padding: 6% 0;
}
.featureImage{
    
}